
.main-section {
    width: 75%;
    height: 90%;
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2%;
    row-gap: 10%;

    .our-description {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        
        h2 {
            color: hsl(300, 43%, 22%);
            font-size: 4rem;
            font-weight: bold;
        }

        p {
            color: hsl(303, 10%, 53%);
            width: 70%;
            margin-top: 2rem;
        }
    }

    .ratings {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(10 , 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 15%;

        .rating-card {
            background-color: hsl(300, 24%, 96%);
            border-radius: 1rem;
            padding: 1.5rem 3rem;
            justify-content: space-between;
            width: 40rem;
            p {
                font-weight: bold;
                color: hsl(300, 43%, 22%);
            }
        }

        .rating-card-1 {
            grid-column: 1 / 9;
            grid-row: 1 / 2;
        }

        .rating-card-2 {
            grid-column: 2 / 10;
            grid-row: 2 / 3;
        }

        .rating-card-3 {
            grid-column: 3 / 11;
            grid-row: 3 / 4;
        }
    }

    .buyer-opinion {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;

        .buyer-opinion-card {
            background-color: hsl(300, 43%, 22%);
            border-radius: 1rem;
            padding: 3rem 2.5rem;
            align-items: flex-start;
            margin-bottom: 3rem;

            .buyer-profile {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 3fr;
                column-gap: 4%;
                margin-left: 2rem;
                margin-bottom: 3rem;

                
                .buyer-img {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    border-radius: 50%;
                    width: 4rem;
                }

                .buyer-name {
                    grid-row: 1 / 2;
                    grid-column: 2 / 3;
                    margin-left: 1.5rem;
                    color: white;
                }

                .buyer-condition {
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
                    margin-left: 1.5rem;
                    color: hsl(333, 80%, 67%);
                }
            }

            .buyer-saying {
                color: white;
            }
        }

        .buyer-opinion-card-1 {
            grid-column: 1 / 2;
            grid-row: 1 / 9;
        }

        .buyer-opinion-card-2 {
            grid-column: 2 / 3;
            grid-row: 2 / 10;
        }

        .buyer-opinion-card-3 {
            grid-column: 3 / 4;
            grid-row: 3 / 11;
        }


    }
}

@media all and (max-width:376px) {
    .main-section {
        width: 85%;
        height: auto;


        p, h2, a {
            text-align: center;
        }

        .our-description {
            margin-bottom: 3rem;
            margin-top: 3.5rem;

            p {
                width: 100%;
            }
        }

        .ratings {
            margin-bottom: 3rem;
            
            .rating-card {
                width: 100%;
                flex-direction: column !important;
                margin-bottom: 1.5rem;

                p {
                    font-weight: 400;
                }

                .stars {
                    justify-content: space-between !important;
                    margin-bottom: 1.5rem;
                    img {
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}